# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd

# Dados fornecidos
dados = {'ano': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
         'anomalia termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]}

# Criando a série do Pandas
serie_temperatura = pd.Series(dados['anomalia termica'], index=dados['ano'])

# Exibindo a série
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
import pandas as pd
import numpy as np

# Dicionário de dados
dados = {'A': np.random.rand(),
         'B': np.random.rand(),
         'C': np.random.rand(),
         'D': np.random.rand()}

# Criando a série do Pandas a partir do dicionário
serie_dados = pd.Series(dados)

# Exibindo a série
print(serie_dados)

A    0.156570
B    0.290638
C    0.020210
D    0.752701
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
import pandas as pd
import numpy as np

# Dados do ndarray
arr = np.random.normal(100, 10, (20, 3))

# Criando o DataFrame
df = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])

# Exibindo o DataFrame
print(df)

       Coluna1     Coluna2     Coluna3
0   111.908163  100.986838  102.965424
1   100.520104  102.305320   86.354937
2   106.786547  106.194220   90.362715
3    93.587270   96.750149   91.848288
4    90.439871   98.941397  105.668067
5    94.815954  115.896163  112.357904
6    76.417650  114.576089   99.019592
7    96.932244   94.733180  101.192617
8   105.290270   87.209647  101.954637
9   106.672146  105.877008  114.065781
10   93.102070  120.972980  112.953941
11   95.285205  101.941802  101.704161
12   80.802465   96.125358   94.118869
13   96.241546   97.743159  123.771651
14  102.697305   97.215034  107.857261
15   92.604429  104.223089   99.609291
16  113.730455   95.411412   99.508974
17  103.604975  103.511573  103.666838
18  104.759027   95.896697   84.576591
19  108.022140  107.336056   94.093970

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
# Nomeando os índices das linhas e as colunas
df.index = range(1, 21)
df.columns = ['x1', 'x2', 'x3']

# Exibindo o DataFrame atualizado
print(df)

            x1          x2          x3
1   111.908163  100.986838  102.965424
2   100.520104  102.305320   86.354937
3   106.786547  106.194220   90.362715
4    93.587270   96.750149   91.848288
5    90.439871   98.941397  105.668067
6    94.815954  115.896163  112.357904
7    76.417650  114.576089   99.019592
8    96.932244   94.733180  101.192617
9   105.290270   87.209647  101.954637
10  106.672146  105.877008  114.065781
11   93.102070  120.972980  112.953941
12   95.285205  101.941802  101.704161
13   80.802465   96.125358   94.118869
14   96.241546   97.743159  123.771651
15  102.697305   97.215034  107.857261
16   92.604429  104.223089   99.609291
17  113.730455   95.411412   99.508974
18  103.604975  103.511573  103.666838
19  104.759027   95.896697   84.576591
20  108.022140  107.336056   94.093970

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# Adicionando a coluna "media" com a média das três colunas
df['media'] = df.mean(axis=1)

# Exibindo o DataFrame atualizado
print(df)

            x1          x2          x3       media
1   111.908163  100.986838  102.965424  105.286809
2   100.520104  102.305320   86.354937   96.393454
3   106.786547  106.194220   90.362715  101.114494
4    93.587270   96.750149   91.848288   94.061902
5    90.439871   98.941397  105.668067   98.349778
6    94.815954  115.896163  112.357904  107.690007
7    76.417650  114.576089   99.019592   96.671110
8    96.932244   94.733180  101.192617   97.619347
9   105.290270   87.209647  101.954637   98.151518
10  106.672146  105.877008  114.065781  108.871645
11   93.102070  120.972980  112.953941  109.009664
12   95.285205  101.941802  101.704161   99.643723
13   80.802465   96.125358   94.118869   90.348897
14   96.241546   97.743159  123.771651  105.918785
15  102.697305   97.215034  107.857261  102.589867
16   92.604429  104.223089   99.609291   98.812270
17  113.730455   95.411412   99.508974  102.883614
18  103.604975  103.511573  103.666838  103.594462
19  104.759027   95.896697   84.576591   95.077438
20  108.022140  107.336056   94.093970  103.150722

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6

In [7]:
# Adicionando a coluna "log_med" com o logaritmo natural da média
df['log_med'] = np.log(df['media'])

# Exibindo o DataFrame atualizado
print(df)

            x1          x2          x3       media   log_med
1   111.908163  100.986838  102.965424  105.286809  4.656688
2   100.520104  102.305320   86.354937   96.393454  4.568438
3   106.786547  106.194220   90.362715  101.114494  4.616253
4    93.587270   96.750149   91.848288   94.061902  4.543953
5    90.439871   98.941397  105.668067   98.349778  4.588530
6    94.815954  115.896163  112.357904  107.690007  4.679257
7    76.417650  114.576089   99.019592   96.671110  4.571315
8    96.932244   94.733180  101.192617   97.619347  4.581076
9   105.290270   87.209647  101.954637   98.151518  4.586512
10  106.672146  105.877008  114.065781  108.871645  4.690170
11   93.102070  120.972980  112.953941  109.009664  4.691437
12   95.285205  101.941802  101.704161   99.643723  4.601601
13   80.802465   96.125358   94.118869   90.348897  4.503679
14   96.241546   97.743159  123.771651  105.918785  4.662673
15  102.697305   97.215034  107.857261  102.589867  4.630739
16   92.604429  104.223089   99.609291   98.812270  4.593222
17  113.730455   95.411412   99.508974  102.883614  4.633598
18  103.604975  103.511573  103.666838  103.594462  4.640484
19  104.759027   95.896697   84.576591   95.077438  4.554692
20  108.022140  107.336056   94.093970  103.150722  4.636191